<?php
   echo $this->Html->css(array(
	  'admin/bootstrap-fileupload/bootstrap-fileupload',
	  'admin/gritter/css/jquery.gritter',
	  'admin/jquery-tags-input/jquery.tagsinput',
	  'admin/bootstrap-toggle-buttons/static/stylesheets/bootstrap-toggle-buttons',
	  'admin/data-tables/DT_bootstrap',
	  'admin/bootstrap-wysihtml5/bootstrap-wysihtml5',
	  'admin/bootstrap-datepicker/css/datepicker',
	  'admin/bootstrap-timepicker/compiled/timepicker'
	  ), null, array('inline' => false)
   );

   echo $this->Html->script(array(
	  'admin/bootstrap-fileupload/bootstrap-fileupload',
	  'admin/jquery-tags-input/jquery.tagsinput.min',
	  'admin/bootstrap-toggle-buttons/static/js/jquery.toggle.buttons',
	  'admin/jquery-validation/dist/jquery.validate.min',
	  'admin/jquery-validation/dist/additional-methods.min',
	  'admin/ckeditor/ckeditor',
	  'admin/bootstrap-wysihtml5/wysihtml5-0.3.0',
	  'admin/bootstrap-wysihtml5/bootstrap-wysihtml5',
	  'admin/bootstrap-datepicker/js/bootstrap-datepicker',
	  'admin/bootstrap-timepicker/js/bootstrap-timepicker'
	  ), array('inline' => false)
   );

   $this->set('activeMenu', 'news');

   $this->Html->addCrumb('Noticias',
	  array(
		 'action' => 'index',
		 'controller' => 'news',
		 'admin' => true
		 )
	  );

	$news = $this->request->data;
	$this->Html->addCrumb($news['News']['title'],
	array(
		'action' => 'view',
		'controller' => 'news',
		$news['News']['id'],
		Format::clean($news['News']['title']),
		'admin' => true
		)
	);
	$this->Html->addCrumb('Editar', null);
?>
<div class="portlet box blue">
   <div class="portlet-title">
	  <h4><i class="icon-list-alt"></i>Editar Noticia</h4>
	  <div class="actions">
		 <?php echo $this->Html->link('<i class="icon-list-alt"></i> Noticias</a>',
			array(
			   'action' => 'index',
			   'controller' => 'news',
			   'admin' => true
			   ),
			array(
			   'class' => 'btn yellow',
			   'escape' => false)
			);
		 ?>
	  </div>
   </div>
   <div class="portlet-body form">
	  <!-- BEGIN FORM-->
		<?php
		echo $this->Form->create('News',
			array(
				'inputDefaults' => array(
					'div' => false,
					'class' => 'm-wrap span8'
					),
				'class' => 'form-horizontal form-row-seperated',
				'enctype' => 'multipart/form-data',
				'novalidate' => true
				)
			);
		echo $this->Form->input('id', array('hiddenField' => true));
		?>
		<div class="control-group <?php echo isset($this->validationErrors['News']['title']) ? 'error' : ''; ?>">
			<?php
				echo $this->Form->input('title',
					array(
						'between' => '<div class="controls input-icon">',
						'label' => array('text'=>'Título<span class="required">*</span>', 'class'=>'control-label'),
						'placeholder'=>'Título o encabezado de la noticia',
						'error' => array(
							'attributes' => array('escape' => false, 'wrap' => false)
							)
						)
					);
				echo '</div>';
			?>
		</div>
		<div class="control-group <?php echo isset($this->validationErrors['News']['description']) ? 'error' : ''; ?>">
			<?php
				echo $this->Form->input('description',
					array(
						'type'=>'textarea',
						'class'=>'span12 ckeditor m-wrap',
						'rows'=>6,
						'between' => '<div class="controls input-icon">',
						'label' => array('text'=>'Contenido<span class="required">*</span>', 'class'=>'control-label'),
						'error' => array(
							'attributes' => array('escape' => false, 'wrap' => false)
							)
						)
					);
				echo '</div>';
			?>
		</div>
		<div class="control-group">
			<label class="control-label">Fecha de la noticia</label>
			<div class="controls">
				<div class="input-append date date-picker" data-date="'.date("Y-m-d").'" data-date-format="yyyy-mm-dd" data-date-viewmode="years">
					<?php
						echo $this->Form->input('date',
							array(
								'label' => false,
								'type' => 'text',
								'class' => 'm-wrap m-ctrl-medium date-picker',
								'size' => 16,
								'placeholder' => 'Escoge la fecha de inicio...',
								'data-date-format' => 'yyyy-mm-dd',
								'readonly' => true
							)
						);
					?>
					<span class="add-on"><i class="icon-calendar"></i></span>
				</div>
				<?php
					echo $this->Html->tag('span', '*Opcional', array('class'=>'help-block'));
				?>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">Hora de la noticia</label>
			<div class="controls">
				<div class="input-append bootstrap-timepicker-component">
					<?php
						echo $this->Form->input('time',
							array(
								'label' => false,
								'type' => 'text',
								'class' => 'm-wrap m-ctrl-small timepicker-24',
								'placeholder' => 'Escoge la hora...',
								'readonly' => true
							)
						);
					?>
					<span class="add-on"><i class="icon-time"></i></span>
				</div>
				<?php
					echo $this->Html->tag('span', '*Opcional', array('class'=>'help-block'));
				?>
			</div>
		</div>
		<?php
			$imagePrev = isset($news['News']['image']) && !empty($news['News']['image']) ? '/img/images/news_img_edt_'.$news['News']['image'] : 'http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=sin+imagen';
		?>
		<div class="control-group">
			<label class="control-label">Foto principal</label>
			<div class="controls">
				<div class="fileupload fileupload-new" data-provides="fileupload">
					<div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
						<img src="<?php echo $imagePrev; ?>" alt="" />
					</div>
					<div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
					<div>
						<span class="btn btn-file"><span class="fileupload-new">Seleccionar</span>
						<span class="fileupload-exists">Cambiar</span>
						<input type="file" name="data[News][image]" class="default" id="NewsImage"></span>
						<a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Eliminar</a>
					</div>
				</div>
				<?php
					echo $this->Html->tag('span', '*Opcional', array('class'=>'help-block'));
				?>
			</div>
		</div>
		<div class="control-group <?php echo isset($this->validationErrors['News']['link']) ? 'error' : ''; ?>">
			<?php
				echo $this->Form->input('link',
					array(
						'between' => '<div class="controls input-icon">',
						'label' => array('text'=>'URL', 'class'=>'control-label'),
						'placeholder'=>'http://www.ejemplo.com',
						'error' => array(
							'attributes' => array('escape' => false, 'wrap' => false)
							)
						)
					);
				echo $this->Html->tag('span', '*Opcional', array('class'=>'help-block'));
				echo '</div>';
			?>
		</div>
		<?php
		echo '<div class="form-actions">';
		echo $this->Form->button('<i class="icon-ok"></i> Guardar',
			array('type' => 'submit', 'class' => 'btn green')
			);
		echo '&nbsp;';

		$cancelOptions = array('action' => 'index', 'controller' => 'news', 'admin' => true);
		echo $this->Form->button('Cancelar',
			array(
				'type' => 'button',
				'class' => 'btn red',
				'onclick' => "location.href='".$this->Html->url($cancelOptions)."'"
				)
			);
		echo '</div>';
		?>
		<?php echo $this->Form->end(); ?>
	  <!-- END FORM-->
   </div>
</div>