.portlet.box .portlet-body {
padding: 10px;
}

.scroller {
padding: 0px !important;
margin: 0px !important;
padding-right: 12px !important;
}

.item {
overflow: hidden;
display: block;
margin-bottom: 20px;
}

.item a {
text-shadow: none !important;
color: #0d638f;
}

.zoom {
cursor: pointer;
width: 100%;
height: 100%;
position: relative;
z-index: 5;
}

.zoom {
cursor: pointer;
}
.zoom a {
text-shadow: none !important;
color: #0d638f;
}

.zoom .zoom-icon {
background-image: url("admin/img/overlay-icon.png");
background-color: #222;
background-repeat: no-repeat;
background-position: 50%;
position: absolute;
width: inherit;
height: inherit;
opacity: 0;
filter: alpha(opacity = 0);
z-index: 6;
top: 0;
}

div.scroller img {
width: auto\9;
height: auto;
max-width: 100%;
vertical-align: middle;
border: 0;
-ms-interpolation-mode: bicubic;
}