/*
|--------------------------------------------------------------------------
| UItoTop jQuery Plugin 1.1
| http://www.mattvarone.com/web-design/uitotop-jquery-plugin/
|--------------------------------------------------------------------------
*/

#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:20px;
  left: 50%;
  margin-left: 550px;
	overflow:hidden;
	width:57px;
	height:57px;
	border:none;
	text-indent:-999px;
	z-index:20;
	background:url(../img/back_to.png) no-repeat left top;
}


#toTop:hover {
	outline:none;
	background-position: 0 -57px;
}
